#profile-header {
	position: relative;
	display: flex;
	justify-content: center;
	font-size: 32px;
	font-weight: bold;
}
.movie-headers {
	position: relative;
	text-align: center;
	bottom: -134px;
	font-size: 32px;
	font-weight: bold;
}
.loader {
	margin: auto;
	width: 100px;
}
.loader__text {
	position: relative;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 20px;
	color: #4f4f50;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: Anton, sans-serif;
}

.loader__filmstrip {
	position: relative;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 200px;
	background: #4f4f50;
	z-index: -1;
}

.loader__filmstrip:before,
.loader__filmstrip:after {
	content: '';
	position: absolute;
	height: 105%;
	border-left: 5px dashed #f5f1ed;
	-webkit-animation: roll 230ms infinite;
	animation: roll 140ms infinite;
}

.loader__filmstrip:before {
	left: 5px;
}

.loader__filmstrip:after {
	right: 5px;
}

/* Error element style */
.errorMessage {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
}

@-webkit-keyframes roll {
	0% {
		top: 0px;
	}
	100% {
		top: -15px;
	}
}

@keyframes roll {
	0% {
		top: 0px;
	}
	100% {
		top: -15px;
	}
}
.projectSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
  width: 100%;
  height: 41rem;
  background-position: center;
  background-size: cover;
}

.card {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  cursor: pointer;
}

.posterContainer {
  width: 100%;
  height: 100%;
  max-width: 780px;
  max-height: 600px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#item1,
#item2,
#item3 {
  opacity: 1;
}

#item1:checked ~ .cards #project3,
#item2:checked ~ .cards #project1,
#item3:checked ~ .cards #project2 {
  -webkit-transform: translatex(-50%) scale(0.8);
  transform: translatex(-50%) scale(0.8);
  opacity: 0.8;
  z-index: 0;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

#item1:checked ~ .cards #project2,
#item2:checked ~ .cards #project3,
#item3:checked ~ .cards #project1 {
  -webkit-transform: translatex(50%) scale(0.8);
  transform: translatex(50%) scale(0.8);
  opacity: 0.8;
  z-index: 0;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

#item1:checked ~ .cards #project1,
#item2:checked ~ .cards #project2,
#item3:checked ~ .cards #project3 {
  -webkit-transform: translatex(0) scale(1);
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

#item1:checked ~ .cards #project1 img,
#item2:checked ~ .cards #project2 img,
#item3:checked ~ .cards #project3 img {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.infoContainer {
  background-color: #fff;
  border-radius: 8px;
  min-width: 260px;
  padding: 16px 10px;
  position: relative;
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 30%;
  right: 10px;
  margin: auto;
  top: -50px;
}

.upperpart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.projectinfo {
  width: calc(100% - 32px);
  display: block;
}

.projectinfo .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}

.subline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.liveLink {
  font-size: 12px;
  line-height: 8px;
}

.cameraIcon {
  position: relative;
  top: -18px;
  line-height: 16px;
  color: #a5a5a5;
  margin-left: auto;
  margin-bottom: 0px;
}

.infoarea {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
}

#item1:checked ~ .infoContainer #test {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

#item2:checked ~ .infoContainer #test {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

#item3:checked ~ .infoContainer #test {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}
